myapp.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://localhost:8000/wsdl"
    xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
    xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/"
    xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:ws="http://localhost:8000/wsdl">
    <wsdl:types>
        <xs:schema targetNamespace="http://localhost:8000/wsdl">
            <xs:element name="GetProjectInput">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="id" type="xs:int"></xs:element>
                        <xs:element name="name" type="xs:string"></xs:element>
                        <xs:element name="description" type="xs:string"></xs:element>
                        <xs:element name="status" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="project">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="id" type="xs:int"></xs:element>
                        <xs:element name="name" type="xs:string"></xs:element>
                        <xs:element name="description" type="xs:string"></xs:element>
                        <xs:element name="status" type="xs:string"></xs:element>
                        <xs:element name="created" type="xs:date"></xs:element>
                        <xs:element name="updated" type="xs:date"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetProjectOutput">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ws:project"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    
    <wsdl:message name="GetProjectInput">
        <wsdl:part name="Body" element="ws:GetProjectInput"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="GetProjectOutput">
        <wsdl:part name="Body" element="ws:GetProjectOutput"></wsdl:part>
    </wsdl:message>
    
    <wsdl:portType name="ProjectSOAP">
        <wsdl:operation name="PutProject">
            <wsdl:input message="ws:GetProjectInput"></wsdl:input>
            <wsdl:output message="ws:GetProjectOutput"></wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    
    <wsdl:binding name="ProjectSOAP" type="ws:ProjectSOAP">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        
        <wsdl:operation name="PutProject">
            <soap:operation soapAction="http://localhost:8000/wsdl" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    
    <wsdl:service name="ProjectService">
        <wsdl:documentation>Update project table</wsdl:documentation>
        <wsdl:port name="ProjectServiceSOAP" binding="ws:ProjectSOAP">
            <soap:address location="http://localhost:8000/wsdl"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>